.dashboard{
    height: 100vh;
    background: linear-gradient(45deg, #6b6c7a , #004e92);
    padding: 5%;
}
.dashboard > .btn{
color: #f7f7f3;
font-weight: 900;
margin: 5px;
}
.dashboard > .btn:hover{
    background-color: rgb(4, 39, 10);
    color: white;
}
.content_bg{
background: linear-gradient(45deg, #6b6c7a , #004e92);
   
}
@media screen and (max-width: 480px) {
    .dashboard {
     height: 250px;
     text-align: center;
    }
  }