.headings{
    height: 100vh;
    background-color: rgb(216, 229, 233);
    padding: 5%;
}
.headings > .btn{
color: #301805;
font-weight: 600;
}
.content_bg{
background: linear-gradient(45deg, #6b6c7a , #004e92);
   
}
@media screen and (max-width: 480px) {
    .headings {
     height: 250px;
     text-align: center;
    }
  }