.contact_form{
    
    background-image: url('../../../images/security\ \(2\).jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100vw;
    z-index:0;
   
}
.contact_form::before{
    z-index:-1;
    content:'';
    background-color:  #3A4256;
    opacity:.8;
    height: 100%;
    width: 100%;
   position: absolute;

}

 .massage{
    height: 100px;
}


.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}  

