
.text_bluer{
    color:#30157c
}
.text_orange{
    color:#eecaaf
}
.bg_special{
    background-color:rgb(243, 233, 233);
}

.headers {
    background: url("../../../images/login_bg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  .headers::before {
    z-index: -1;
    background-color:#200371;
    opacity: 0.8;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }