.text_special{
    color:#2F2F2B
}
.text_bluer{
    color:#200371
}
.text_orange{
    color:#eecaaf
}
.bg_special{
    background-color:rgb(243, 233, 233);
}
.bg_darker{
    background-color: rgb(197, 204, 209);
}

